@import './colors';
@import './fonts';


.lower-section {

    font-family: $font;
    background-color: $main-color;
    width: 100%;
    height: auto;
    margin-bottom: 10rem;
    

    .allcard {
        justify-content: center;
        display: flex;
        flex-direction: row;
        
        //overflow: hidden;
        gap: 2rem;
        .card {
            font-family: arial,sans-serif;
            height: 100;
            width: 100;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}