@import './colors';

.lower-section {

    background-color: $main-color;
    width: 100%;
    height: 100vh;
    padding: 2rem;

    .allcard {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(4,300px);
        //overflow: hidden;
        gap: 2rem;
        .card {
            font-family: arial,sans-serif;
            height: 100%;
            width: 100%;
            cursor: pointer;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}